# Secrets
.env
*.yaml
*.yml
*.json


# User OAuth tokens
user_tokens/
flask_session/

# Python cache
__pycache__/
*.pyc

# Generated
*.docx
generated_reports/
report_images/

ChromeDebugProfile/

venv/
*.zip
requirements1.txt
requirements3.txt
