gunicorn
beautifulsoup4==4.13.4
Flask==3.1.1
Flask-Session==0.8.0
google_auth_oauthlib==1.2.1
matplotlib==3.10.5
pandas==2.3.1
playwright==1.48.0
protobuf==6.32.0
psutil==6.1.0
pychrome==0.2.4
python-dotenv==1.1.1
python_docx==1.2.0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.4
seaborn==0.13.2


